@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Orelo Wide';
  src: url('../public/fonts/Orelo-Wide-Bold.otf');
}

@layer components {
  .prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
  .prevent-highlight {
    -webkit-tap-highlight-color: transparent;
  }
  .navbar-li {
    @apply flex h-12 items-center justify-center;
  }
  .navbar-a {
    @apply prevent-highlight flex items-center justify-center font-head text-xl font-medium hover:underline xs:text-2xl;
  }
}

.active {
  @apply -skew-y-6 scale-110 font-bold underline duration-300 ease-in-out;
}
